{% extends 'template/base.html.twig' %}

{% block stylesheets %}
    <style type="text/css">
        #graphHighchart {
            min-width: 320px;
            max-width: 600px;
            margin: 0 auto;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="js--graph-live" id="graphHighchart" data-bet-id="{{ bet.id }}">
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/highcharts.js"></script>
    <script src="/js/highcharts-more.js"></script>
    <script src="/js/modules/exporting.js"></script>
    <script src="/js/liveCharts.js"></script>
{% endblock %}