{% extends 'template/base.html.twig' %}

{% block stylesheets %}
    <style type="text/css">
        #graphHighchart {
            min-width: 320px;
            max-width: 50%;
            margin: 100px auto;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="message" class="js--message" style="text-align: center; margin-top:10%; font-size:30px;">
        {% if error %}
            {{ error }}
        {% endif %}
    </div>
    {% if bet %}
        <div id="graphHighchart" data-bet-id="{{ bet.id }}" data-bet-title="{{ bet.description }}" {% if time %}data-live-update="true"{% endif %}>

        </div>
    {% endif %}
    <div class="js--data" style="display: none;">
        <input type="hidden" id="time" value="{{ time }}">
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/home.js"></script>
    <script src="/js/highcharts.js"></script>
    <script src="/js/highcharts-more.js"></script>
    <script src="/js/modules/exporting.js"></script>
    <script src="/js/liveCharts.js"></script>
{% endblock %}